PORT=3000
CORS_ORIGIN = *

ACCESS_TOKEN_SECRET=mySuperSecretKey1234567890mySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKey
ACCESS_TOKEN_EXPIRY=id
REFRESH_TOKEN SECRET=mySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKeymySuperSecretKey
REFRESH_TOKEN_EXPIRY=10d